/******************************************/
/*                Team Bio                */
/******************************************/

    /*Team Bio Structure - Desktop:
    *   team-photo
    *   headings
    *   paragraph
    */

    .team-photo {
        display: block;
        max-width: 250px;
        margin: 10px auto;
        border-radius: 50%;
        border: solid 5px white;
        box-shadow: var(--box-shadow-color) 0px 0px 10px;
    }

    .team-grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-auto-rows: minmax(100px, auto);
    }

    .team-photo-grid{
        grid-column: 1 / 2;
        grid-row: 1 / 3;
    }

    .team-headers {
        grid-column: 2 / 4;
        grid-row: 1;
    }

    .team-headers h1, .team-headers h4 {
        text-align: left;
    }

    .team-paragraph {
        grid-column: 2 / 4;
        grid-row: 2;
    }

    /*Team Bio Structure - Mobile:
    *   headings
    *   team-photo
    *   paragraph
    */
    @media screen and (max-width: 767px){
        .team-photo-grid{
            grid-column: 1 / 4;
            grid-row: 2 / 3;
        }

        .team-headers {
            grid-column: 1 / 4;
            grid-row: 1 / 2;
        }

        .team-headers h1, .team-headers h4 {
            text-align: center;
        }

        .team-paragraph {
            grid-column: 1 / 4;
            grid-row: 3;
        }
    }
